.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 20px 0;
  text-align: center;
}

.form > button {
  padding: 10px;
  border: none;
  border-radius: 5%;
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-field {
  padding: 10px 0;
}

.form-field > label {
  margin-right: 10px;
}

.details {
  padding: 10px 20px;
  border-radius: 5%;
  background-color: navy;
  color: white;
}

.details > h2,
h4 {
  text-align: center;
}
