.cell {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.pointer {
  cursor: pointer;
}
